{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 1</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1a</h3>
			</div>
			<div class="col-6">
				<button class="btn btn-light float-right" id="reset">
					Reset
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<div class="p2-circle bg-purple" name="purple"></div>
					<div class="p2-circle bg-purple" name="purple"></div>
					<div class="p2-circle bg-purple" name="purple"></div>
					<div class="p2-circle bg-purple" name="purple"></div>
					<div class="p2-circle bg-purple" name="purple"></div>
					<div class="p2-circle bg-green" name="green"></div>
					<div class="p2-circle bg-green" name="green"></div>
					<div class="p2-circle bg-green" name="green"></div>
					<div class="p2-circle bg-green" name="green"></div>
					<div class="p2-circle bg-green" name="green"></div>
					<div class="p2-circle bg-yellow p2-border" name="yellow"></div>
					<div class="p2-circle bg-yellow p2-border" name="yellow"></div>
					<div class="p2-circle bg-yellow" name="yellow"></div>
					<div class="p2-circle bg-yellow" name="yellow"></div>
					<div class="p2-circle bg-yellow" name="yellow"></div>
					<div class="p2-circle bg-orange p2-border" name="orangeborder"></div>
					<div class="p2-circle bg-orange p2-border" name="orangeborder"></div>
					<div class="p2-circle bg-orange" name="orange"></div>
					<div class="p2-circle bg-orange" name="orange"></div>
					<div class="p2-circle bg-orange" name="orange"></div>
					<div class="p2-circle bg-blue" name="blue"></div>
					<div class="p2-circle bg-blue" name="blue"></div>
					<div class="p2-circle bg-blue p2-border" name="blue"></div>
					<div class="p2-circle bg-blue p2-border" name="blue"></div>
					<div class="p2-circle bg-blue" name="blue"></div>
					<div class="p2-circle" id="gradient-circle" name="gradient"></div>
				</div>
			</div>
		</div>
			
	</div>



<script type="text/javascript">
	$("[name='purple']").click(function() {
    $("[name='purple']").hide();
  });
  $("[name='green']").click(function() {
    $("[name='green']").hide();
    $("[name='blue']").hide();
  });
  $("[name='orangeborder']").click(function() {
    $("[name='orangeborder']").hide();
  });
  $("[name='gradient']").hover(function() {
    $("[name='gradient']").hide();
  });
  $("[name='orangeborder']").click(function() {
    $("[name='orangeborder']").hide();
  });
  $("#reset").click(function() {
    $("[name='purple']").show();
    $("[name='green']").show();
    $("[name='blue']").show();
    $("[name='orangeborder']").show();
    $("[name='gradient']").show();
  });
</script>
</body>
</html>